@tailwind base;
@tailwind components;
@tailwind utilities;

@import './grotesque.css';

:root {
  --black: black;
  --white: white;
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
}

body {
  background-color: var(--black);
  font-family: 'Grotesque', var(--font-system), sans-serif;
  color: var(--white);
  overflow-x: hidden;
}

.gradient {
  background: linear-gradient( rgba(21, 21, 21, 0) 0%, #1D1D1D 100%);
}

.open-cart {
  transform: translateX(0%);
}

.marquee {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}


.move-left {
  -webkit-animation: marquee 20s linear infinite; /* Safari 4.0 - 8.0 */
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.select-size input[type="radio"]  {
  appearance: none;
}

.select-size input[type="radio"] + label {
  text-align: center;
  width: 22px;
  height: 22px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
}

.select-size input[type="radio"]:checked + label {
  border: 1px solid white;
}

/* .select-size label + input[type="radio"]:checked {
  border: 1px solid white;
}  */


.stroke {
  color: black;
  -webkit-text-stroke: 1px white ;
}

.supply::before {
  content: "EST";
  color: white;
  font-size: 8px;
  font-weight: 400;
  border: 1px solid white;
  padding: .5rem .8rem;
  border-radius: 50%;
  -webkit-text-stroke-width: 0px;
  position: absolute;
  top: 25%;
  left: 4%;
  letter-spacing: normal;
}

@media(min-width: 700px) {
  .supply::before {
    font-size: 12px;
    padding: 1rem 1.8rem;
    position: absolute;
    top: 25%;
    left: 8%;
  }
}

.supply::after {
  content: "2K19";
  color: white;
  font-size: 8px;
  font-weight: 400;
  border: 1px solid white;
  padding: .5rem .8rem;
  border-radius: 50%;
  -webkit-text-stroke-width: 0px;
  position: absolute;
  top: 25%;
  right: 4%;
  letter-spacing: normal;
}

@media(min-width: 700px) {
  .supply::after {
    font-size: 12px;
    padding: 1rem 1.8rem;
    position: absolute;
    top: 25%;
    right: 8%;
  }
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 50px;
  background-image: url('/footer-shape.svg');
  background-repeat: no-repeat;
  background-size: contain;
  left: 28%;
  top: 5%;
}

@media(min-width: 700px) {
  .footer::before {
    width: 200px;
    height: 200px;
    left: 28%;
    top: 5%;
  }
}


.asterisk {
  --floating-size: 40px;
  --floating-time: 5s;
  animation: floating var(--floating-time) infinite linear alternate;
}

.asterisk:nth-child(even) {
  animation-delay: calc(var(--floating-time) * -0.8);
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(
        var(--floating-size),
        calc(var(--floating-size) * -0.5)
      )
      rotate(180deg);
  }
}


